.App{
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.freecodecamp-logo-contenedor{
  width: 100%;
  height: 30px;
  margin: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo{
  height: 40px;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid whitesmoke;
  display: column;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}